.profileBox {
    
    width: 250px;
        height: 325px;
        margin: 51px 14px 0 80px;
        padding: 70px 19.2px 41px 20px;
        border-radius: 6px;
        background-color: white;
        text-align: center; 
      padding-top: 50px; 
      position: relative;
      
        
}

.avatar-div{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%);
}

.text-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-div{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 40px;
    column-gap: 1px;
    align-items: center;
    margin-top: 70px;
}



    .img-div{
    width: 70px;
            height: 70px;
            margin-Left: 50px;
            margin-top: 5%;
            
            
            
}

.calendar{
    display: block;
    width: 14px;
        height: 17px;
        margin: 1px 2px 0px 10px;
        
        
}

.img{
    width: 95px;
        height: 95px;
        margin: 0 88px 331px 88px;
}

.gen{
    width: 77px;
        height: 17px;
        margin: 1px 50px 0px 9.8px;
        font-family: ProximaNova;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #8f99a5;
}

.date{
        margin-right: 10px;
        white-space: nowrap;
        font-family: ProximaNova;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #455569;
}

.rectangle{
    width: 1000px;
        height: 2px;
        margin: 51px 0 0 80px;
        padding: 16px 19.7px 16px 5px;
        border-radius: 6px;
        
       
}

.catrect{
    width: 658px;
        height: 36px;
        margin: 0 0 20px 300px;
        padding: 3.5px 4px px ;
        border-radius: 6px;
        background-color: #dd0b0b;
}

h1 {
    text-decoration: underline;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    padding: 20px;
    height: 200vh;
    
    background: #f0f2f5;
    z-index: +1;
    
}

.bckimg-div{
    background-image: url('./reach_background_image.png');
    width: auto;
    
}

.container {
    /* background-image: url('./reach_background_image.png'); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 73%;
    height: 80%;
    ;
   
   
    
}

.yes{
    background-image: url('./reach_background_image.png');
}

.top-row {
    
    display: flex;
    width: 100%;
    height: 55vh;
    justify-content: space-evenly;
    margin-bottom: 2px;
    
    /* border: 2px solid rgb(178, 178, 7); */
}

.top-div {
    width: 60%;
    height: 100px;
    border: 2px solid red;
    margin-top: 20px;
    row-gap: 60vh;
    
}

.top-right-div {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    flex: 2;
    
}

.bottom-div {
    width: 66vw;
    /* height: 200px; */
    /* border: 2px solid blue; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: 77px;
    background-color: white;
   
}

@media(max-width:1448px){
    .bottom-div{
        margin-top: 15%;
        margin-left: 94px;
        max-width: 65vw;
            min-width: 65vw;
    }
}

@media(max-width:1010px) {
    .bottom-div {
        margin-top: 20%;
        margin-left: 94px;
        max-width: 65vw;
        min-width: 65vw;
    }
}

/* styling for statistics */

.stats-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 5px;
}

.main-stat-div {
    text-align: center;
    display: flex;
    align-Items: center;
    margin-bottom: 5px;

}

@media (max-width: 1200px) {
    .stats-container {
        justify-content: center;
    }

    .main-stat-div {
        flex: 1 1 50%;
        /* Shrink to half tbohe container width */
        margin-bottom: 10px;
    }
}

@media (max-width: 900px) {
    .stats-container {
        flex-direction: row;
        align-items: start;
    }

    .main-stat-div {
        flex: 1 1 100%;
        /* Full width */
        margin-bottom: 15px;
    }
}

.stats {
    display: flex;
    flex-direction: column;
    /* Stacks stats vertically */
}

.timeline-image {
    width: 12px;
    /* Adjust width as needed */
    height: auto;
}